* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    height: auto;
}

#hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#nav {
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;
    top: 0;
    background-color: black; */
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}

#heading {
    margin-top: 40px;
}

#heading h1 {
    font-size: 10vw;
    font-family: "General Sans";
    line-height: .9;
    opacity: .6;
    margin-left: 35px;
}

#heading #second-h1 {
    margin-left: 11.8vw;
    /*181*/
}

.blocktext {
    width: fit-content;
    /* background-color: red; */
}

.blocktext h5 {
    text-align: right;
    /* opacity: .6; */
    font-size: 15px;
}

#chotiheadings {
    margin-top: 100px;
    padding-right: 40px;
}

#chotiheadings h5 {
    text-align: right;
    /* opacity: .6; */
    text-transform: uppercase;
    font-size: 1vw;
    margin-top: .5vw;
}

#herofooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: absolute;
    bottom: 25px;
    width: 95%;
}

#herofooter a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3vw;
}

#herofooter #iconset {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

#herofooter .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(190, 189, 189, 0.842);
}

#herofooter .circle i {
    color: black;
    size: 30px;
}
#second{
    width: 100%;
    height: 150vh;
    background-color: black;
    padding-top: 200px;
    color: white;
    padding-right: 7vw;
    padding-left: 3vw;
}
.elem{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    padding: 4vw 3vw;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem h1{
    text-transform: uppercase;
    font-size: 7vw;
    opacity: .6;
}
.elem h5{
    opacity: .6;
    font-size: 1.1vw;
}
.elemfirst{
    border-top: 1px solid rgba(255, 255, 255, 0.329);
}
.elem img{
    position: absolute;
    height: 39%;
    display: none;
    z-index: 10;
}
#about{
    width: 100%;
    background-color: black;
    padding: 10vw 10vw;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-left: 35vw;
    gap:110px;
}
#textabout {
    width: 25rem;
}
#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
    font-size: 1.5vw;
}
#about img{
    height: 200px;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 1.1vw;
}
#textabout a{
    text-decoration: none;
    color: white;
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 12px;
}
#suscribe{
    color: white;
    background-color: black;
    padding: 20px 30px;
    padding-bottom: 6vw;
}
#suscribe h5,h3{
    text-transform: uppercase;
    opacity: .6;
}
#suscribe h3{
    font-size: 17px;
    margin-top: 10px;
}
#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    background-color: black;
    color: white;
}
#footerleft{
    display: flex;
    gap: 20px;
}
#footer a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
#footerright{
    display: flex;
    gap: 30px;
}
